@import '../../../common.scss';
.wrap {
  height: 64px;
  padding: 16px 32px 0px;
  user-select: none;
  display: flex;

  .title-wrap {
    display: flex;
    align-items: center;
    gap: 16px;

    .icon-wrap {
      width: 28px;
      height: 28px;
      border-radius: 4px;

      .freshIcon {
        cursor: pointer;
        font-size: 16px;
      }
    }
    .right {
      flex: 1;
    }
  }

  // .gap-line {
  //   position: relative;
  //   display: inline-block;
  //   height: 16px;
  //   margin: 0 16px;
  //   vertical-align: middle;
  //   border-top: 0;
  //   border-left: 1px solid rgba(8, 14, 23, 0.12);
  // }

  // .operate-wrap {
  //   user-select: none;
  //   display: flex;
  //   align-items: center;
  //   gap: 12px;

  //   .item {
  //     padding: 3px 8px;
  //     display: flex;
  //     align-items: center;
  //     cursor: pointer;
  //     gap: 4px;

  //     .img {
  //     }
  //   }

  //   .complete {
  //     color: #0a6cff;
  //   }
  // }
}
