.wrap {
  padding: 0px 8px;
  font-size: 12px;
  display: inline-block;
  height: 24px;
  padding: 0 8px;
  border-radius: 4px;
  display: inline-flex;
  line-height: 24px;
  font-size: 12px;
}
.default {
  background-color: #f5f7fa;
  color: rgba(8, 14, 23, 0.9);
}
.primary {
  color: #0a6cff;
  background-color: #e7f4ff;
}

.danger {
  color: #e12e2e;
  background-color: #ffefef;
}

.text {
  background-color: #ffefe7;
  color: #f06621;
}
