@import '../../../formcomponent/formHeader/style.module.scss';

.content {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  -webkit-box-orient: vertical;

  .banner {
    width: 8px;
    height: 8px;
  }
}